:root {
  --header-dark : #0c0d12;
  --background-dark: #121314;
  --secondary-dark : #1D2021;
  --primary-dark : #877000;
  --text-dark : #9D9588;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-dark);
}

.App {
  background-color: var(--background-dark);
}

.navbar {
  background-color: var(--header-dark);
}

.navbar .container{
  height: 70px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 750px; 
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-navigator{
  margin-top: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 25% auto;
}


.row {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  background: var(--secondary-dark);
  border-radius: 10px;
}
